.form {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container-create {
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  border-radius: 5px;
  box-shadow: #ccc;
}
.btn-sb {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 80%;
  margin-bottom: 1rem;
}
.btn-sb:hover {
  background-color: #45a049;
}
/*
label {
  display: block;
  margin-bottom: 8px;
}

input,
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 80%;
}

button:hover {
  background-color: #45a049;
} */
